[user]
	name = Adrian Haasler García
	email = dev@adrianhaasler.com
[diff]
	tool = vimdiff
[diff "exif"]
	textconv = exiftool
[difftool]
	prompt = false
[branch]
	autosetuprebase = always
[merge]
	tool = vimdiff
[merge "pommerge"]
	driver = ~/.dotfiles.home/git/pommerge/mergepom.py %O %A %B
[color]
	ui = true
[color "status"]
	untracked = magenta
	added = cyan
	changed = yellow
[status]
	branch = true
	short = true
	showuntrackedfiles = all
[help]
	autocorrect = 1
[advice]
	statusuoption = false
[push]
	default = current
[core]
	editor = vim
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[alias]
	cp = cherry-pick
	d = difftool
	dc = difftool --cached
	sync = "!f() { git checkout @{-1} && git pull && git checkout - && git rebase @{-1}; }; f"
