[Unit]
Description=Mount nas/intercambio
Requires=systemd-networkd.service
After=network-online.target systemd-resolved.service
Wants=network-online.target systemd-resolved.service

[Mount]
What=//nas/intercambio
Where=/mnt/intercambio
Options=credentials=/etc/samba/creds/nas,iocharset=utf8,rw,x-systemd.automount
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
