#searchbox {
	background: white;
	border-color: #BDBDBD;
	color: #212121;
	font-size: 1.1em;
	padding: .8em 2em;
}
#button {
	background: none;
	border-style: none;
	box-shadow: none;
	color: white;
	font-size: 1.05em;
}
#button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #eee
}
#button:focus {
	border-style: solid;
	border-width: 1px;
	border-color: #BDBDBD;
}
#separator {
	background-color: #BDBDBD;
}
#prompt {
	color: #BDBDBD;
	font-size: 1.3em;
}