@define-color background @theme_base_color;
@define-color text @theme_text_color;
@define-color secondary @insensitive_fg_color;
@define-color success @success_color;
@define-color warn @warning_color;
@define-color error @error_color;
@define-color accent @theme_selected_bg_color;

* {
	border: none;
	border-radius: 0;
	font-family: Arimo, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	min-height: 0;
}

window#waybar {
	background-color: transparent;
	color: @text;
}

window#waybar > box {
	background-color: @background;
	border-radius: 10px;
	box-shadow: 0 0 2px @unfocused_borders;
	margin: 10px 10px 2px 10px;
}

window#waybar.right > box {
	margin: 10px 10px 10px 2px;
}

window#waybar.bottom > box {
	margin: 2px 10px 10px 10px;
}

window#waybar.left > box {
	margin: 10px 2px 10px 10px;
}

.modules-left,
.modules-left > *:first-child *:first-child {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.modules-right,
.modules-right > *:last-child *:last-child {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#workspaces {
	margin-right: 10px;
}

#workspaces button {
	color: @secondary;
	padding: 5px;
}

#workspaces button.focused {
	color: @text;
}

#workspaces button.urgent {
	color: @error;
}

#workspaces button.urgent.focused {
	color: @warn;
}

#mode {
	color: @accent;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
	padding: 0 10px;
	margin: 0 4px;
}

#battery.charging {
	color: @warn;
}

#battery.critical:not(.charging) {
	color: @error;
}

#network.disconnected {
	color: @secondary;
}

#pulseaudio.muted {
	color: @secondary;
}

#temperature.critical {
	color: @error;
}

#idle_inhibitor {
	color: @secondary;
}

#idle_inhibitor.activated {
	color: @text;
}

#mpd.disconnected {
	color: @secondary;
}
